body,table td,select,button {
	color: #4B4B4B;
	font: 12px/1.333 "arial", "lucida Grande", "Trebuchet MS", sans-serif;
}

/* GWT Tree */
.gwt-Tree {
}
.gwt-Tree .gwt-TreeItem {
	padding: 1px;
	height : 16px;
	cursor: hand;
	cursor: pointer;
	display: block !important;
	border: 1px solid #FFFFFF;
}

.gwt-Tree .gwt-TreeItem img {
	padding-bottom: 3px;
	vertical-align: middle;
}

.gwt-Tree .gwt-TreeItem-selected {
	background: #FFFADC;
    border: 1px solid #D3C061;
}

/* Splitters */
.gwt-SplitLayoutPanel-HDragger,.gwt-SplitLayoutPanel-VDragger {
	background-color: white;
	background-image: none;
}

.gwt-SplitLayoutPanel-HDragger {
	cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
	cursor: row-resize;
}

/* MenuBar */

@sprite .gwt-MenuBar-horizontal {
	gwt-image: "menuBar"; 
} 

.gwt-MenuBar-horizontal {
	background-repeat: repeat-x;
	border-bottom: 1px solid #717E88;
    border-top: 1px solid #FFFFFF;
    font-size: 11px;
    width:100%;	
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
    background-position: -2px 50% !important;
    background-color:transparent;
    border: 1px solid transparent;
    color: #000000;
    cursor: pointer;
    font-family: arial,verdana,"sans-serif";
    font-size: 1em;
    font-weight: bold;
    padding: 3px 7px 4px 7px;
    text-transform: uppercase;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
	border: 0px;
	height: 1px;
	margin: 2px 0px;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
	min-width :125px;
	padding: 4px 40px 4px 20px;
}

.gwt-MenuBar .gwt-MenuItem:hover,
.gwt-MenuBar-vertical .gwt-MenuItem-selected,
.gwt-MenuBar-vertical .subMenuIcon-selected	{
	border: none;
	background: #EBEBEF;

}

.gwt-MenuBar-horizontal .gwt-MenuItem:hover,
.gwt-MenuBar-horizontal .gwt-MenuItem-selected {
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-shadow: 2px 2px 5px 1px #BBBBBB;
}

.gwt-MenuBarPopup {
	margin : 0px;
	background: white;
	border-right: 1px solid #EBEBEF;
	border-left: 1px solid #EBEBEF;
	border-bottom: 1px solid #EBEBEF;
	padding: 4px 0px;
	box-shadow: 2px 2px 5px 1px #EBEBEF;

}

.gwt-MenuBarPopup .menuPopupTopLeft,
.gwt-MenuBarPopup .menuPopupTopCenter,
.gwt-MenuBarPopup .menuPopupTopRight,
.gwt-MenuBarPopup .menuPopupMiddleLeft,
.gwt-MenuBarPopup .menuPopupMiddleRight,
.gwt-MenuBarPopup .menuPopupBottomLeft,
.gwt-MenuBarPopup .menuPopupBottomCenter,
.gwt-MenuBarPopup .menuPopupBottomRight
	{
	display: none;
}


.gwt-PopupPanelGlass {
    background-color: #D0D0D0;
    opacity: 0.5;
}

.gwt-PopupPanel {
    padding: 1px;
	border: 1px solid  #C4C0B9;
    box-shadow: 2px 2px 5px 1px #BBBBBB;
}


/* Dialog Box

.gwt-DialogBox { 
	
}

.gwt-DialogBox .dialogTopLeft ,
.gwt-DialogBox .dialogTopCenter ,
.gwt-DialogBox .dialogTopRight,
.gwt-DialogBox .dialogMiddleLeft ,
.gwt-DialogBox .dialogMiddleCenter ,
.gwt-DialogBox .dialogMiddleRight,
.gwt-DialogBox .dialogBottomLeft ,
.gwt-DialogBox .dialogBottomCenter ,
.gwt-DialogBox .dialogBottomRight { 
	display: none;
}*/



.gwt-Button{
	margin: 0px;
	border : none;
	color: #000000;
	font-weight: bold;
	padding: 3px 5px 6px 5px;
	
}

@sprite .gwt-Button{
	gwt-image : 'button';
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-color: trasparent;
	background-position: center;
	color: #000000;
	font-weight: bold;
}

.gwt-DateBox{
	padding: 2px;	
}

/* DatePicker */

.gwt-DatePicker {
	border: 1px solid #D4CFC7;
}

.datePickerMonthSelector  { 
	background-color: #D4CFC7;	
}

.datePickerDays,
td.datePickerMonth,
.datePickerNextButton ,
.datePickerPreviousButton { 
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
}


.datePickerDay, 
.datePickerWeekdayLabel, 
.datePickerWeekendLabel {
    color: #000000;
    font-size: 12px;
    font-weight: normal;
	font-family: Arial,Verdana,sans-serif;
}

/* label over weekdays */
.datePickerWeekdayLabel {
    background: none repeat scroll 0 0 #F1EEE9;
}

/* label over weekends */
.datePickerWeekendLabel {
	color: red;
    background: none repeat scroll 0 0 #F1EEE9;
}

/* a weekeend day  */
.datePickerDayIsWeekend {
	color :  #FF7800 ;
    background: none repeat scroll 0 0 #FFEBDA;
}

/* a day in another month  */
.datePickerDayIsFiller {
	color : #A0A0A0;
}


.datePickerDayIsHighlighted {
	border-color: #FFEBDA;
	background-color: #F1EEE9;
}

/* today  */ 
.datePickerDayIsToday {
	background: none;
	border-color: #FFEBDA;
	font-weight: bold;
	border-color: #C4C0B9;
	background-color: #FF7800;
}

/* the selected day */ 
.datePickerDayIsValue {
	border-color: #C4C0B9;
	background-color: #D4CFC7;
    font-weight: bold;
	background: none repeat scroll 0 0 #D4CFC7;
}


.gwt-TextBox:focus,
.gwt-TextArea:focus,
.gwt-DateBox:focus {
	background-color: #FBEDB6
	
}

.es3-CustomDialogTopLeft ,
.es3-CustomDialogTopCenter ,
.es3-CustomDialogTopRight,
.es3-CustomDialogMiddleLeft ,
.es3-CustomDialogMiddleCenter ,
.es3-CustomDialogMiddleRight,
.es3-CustomDialogBottomLeft ,
.es3-CustomDialogBottomCenter ,
.es3-CustomDialogBottomRight {
	margin: 0px;
	padding: 0px;
	border: none;
	background: none;
}

