<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ES3.html</welcome-file>
  </welcome-file-list>

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.esferalia.es3.demo.server.GreetingServiceImpl</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/es3/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>DatabaseService</servlet-name>
  	<servlet-class>com.esferalia.es3.demo.server.DatabaseServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DatabaseService</servlet-name>
  	<url-pattern>/es3/DatabaseService</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>FileUpload</servlet-name>
  	<servlet-class>com.esferalia.es3.demo.server.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FileUpload</servlet-name>
  	<url-pattern>/es3/upload</url-pattern>
  </servlet-mapping>
  
</web-app>
